.gwt-stylePerfilInicial {
	background-color: dodgerblue;
}
.gwt-stylePrincipal {
	background-color: lavender;
}
.gwt-Button {
	background-color: dodgerblue;
}
/** Add css rules here for your application. */

