.gwt-stylePerfilInicial {
	background-color: lavender;
	font-
}
.gwt-stylePrincipal {
	background-color: lavender;
}
.gwt-Button {
	background-color: dodgerblue;
}
.gwt-label {
	font-size: 19px;
}
/** Add css rules here for your application. */

